# Viera AI Environment Variables
# Copy this file and enter your API KEYs here:
VITE_DEEPSEEK_API_KEY=sk-your-deepseek-api-key-here
VITE_OPENROUTER_API_KEY=sk-or-v1-your-openrouter-api-key-here
VITE_FISH_AUDIO_API_KEY=your-fish-audio-api-key-here
VITE_GOOGLE_CLIENT_ID=xxx-xxxxxxxxxxxx.apps.googleusercontent.com

#For Benchmark
VITE_BENCHMARK_API_URL=http://xxxxxxx/v1
VITE_BENCHMARK_API_KEY=sk-your-ai-api-key-here
VITE_BENCHMARK_MODEL=your-model-here
VITE_BENCHMARK_CONTEXT_ENABLED=true

